{
  "openapi": "3.0.2",
  "info": {
    "title": "NatiqQuran Api",
    "version": "0.0.3"
  },
  "servers": [
    {
      "url": "https://api.natiq.net"
    }
  ],
  "tags": [
    {
      "name": "account",
      "description": "for auth, and users"
    },
    {
      "name": "organization",
      "description": "manage organizations"
    },
    {
      "name": "profile",
      "description": "view or edit the org/user profile"
    },
    {
      "name": "quran",
      "description": "All the quran related routers"
    }
  ],
  "paths": {
    "/account/sendCode": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "the email address",
                    "example": "info@natiq.com"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "account"
        ],
        "responses": {
          "200": {
            "description": "Code sended."
          }
        }
      }
    },
    "/account/verify": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "the email address",
                    "example": "info@natiq.com"
                  },
                  "code": {
                    "type": "string",
                    "description": "the code",
                    "minLength": 6,
                    "maxLength": 6,
                    "example": 123456
                  }
                }
              }
            }
          }
        },
        "tags": [
          "account"
        ],
        "responses": {
          "200": {
            "description": "Returns the new user token"
          }
        }
      }
    },
    "/account/logout": {
      "get": {
        "parameters": [
          {
            "in": "header",
            "required": true,
            "name": "Authorization",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "account"
        ],
        "responses": {
          "200": {
            "description": "expires the token of user"
          }
        }
      }
    },
    "/quran": {
      "get": {
        "parameters": [
           {
            "in": "header",
            "required": true,
            "name": "Authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mode",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "quran"
        ],
        "responses": {
          "200": {
            "description": "Returns the surahs of a quran"
          }
        }
      }
    },
    "/profile": {
      "get": {
        "parameters": [
          {
            "in": "header",
            "required": true,
            "name": "Authorization",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "profile"
        ],
        "responses": {
          "200": {
            "description": "Returns the user profile"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "in": "header",
            "required": true,
            "name": "Authorization",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "The unique username for new profile",
                    "example": "Mahdi1279"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "the first name of user",
                    "example": "Mahdi"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "the last name of user",
                    "example": "Mohammadi"
                  },
                  "birthday": {
                    "type": "string",
                    "description": "The date of the birth",
                    "example": "1989-12-2"
                  },
                  "profile_image": {
                    "type": "string",
                    "description": "The url of a profile image",
                    "example": "https://assets.natiq.com/mahdi-profile-image.jpg"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "profile"
        ],
        "responses": {
          "200": {
            "description": "edited"
          },
          "500": {
            "description": "{some error}"
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "parameters": [
          {
            "in": "header",
            "required": true,
            "name": "Authorization",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "organization"
        ],
        "responses": {
          "200": {
            "description": "Returns the list of all orgs"
          }
        }
      },
      "post": {
        "description": "Adds the new org",
        "parameters": [
          {
            "in": "header",
            "required": true,
            "name": "Authorization",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "The unique username for new org",
                    "example": "github"
                  },
                  "name": {
                    "type": "string",
                    "description": "The full name of org",
                    "example": "github org"
                  },
                  "profile_image": {
                    "type": "string",
                    "description": "The url of a profile image",
                    "example": "https://assets.natiq.com/nema-profile-image.jpg"
                  },
                  "established_date": {
                    "type": "string",
                    "description": "The established date of org(company)",
                    "example": "1988-03-12"
                  },
                  "national_id": {
                    "type": "string",
                    "description": "The national id of a company",
                    "minLength": 11,
                    "maxLength": 11,
                    "example": "12345678911"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "organization"
        ],
        "responses": {
          "200": {
            "description": "This means new org was created"
          }
        }
      }
    },
    "/organization/{org_id}": {
      "get": {
        "parameters": [
          {
            "in": "header",
            "required": true,
            "name": "Authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "required": true,
            "name": "org_id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "organization"
        ],
        "responses": {
          "200": {
            "description": "Returns the org with id you specified"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "required": true,
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "required": true,
            "name": "org_id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "The unique username for new org",
                    "example": "github"
                  },
                  "name": {
                    "type": "string",
                    "description": "The full name of org",
                    "example": "github org"
                  },
                  "profile_image": {
                    "type": "string",
                    "description": "The url of a profile image",
                    "example": "https://assets.natiq.com/nema-profile-image.jpg"
                  },
                  "established_date": {
                    "type": "string",
                    "description": "The established date of org(company)",
                    "example": "1988-03-12"
                  },
                  "national_id": {
                    "type": "string",
                    "description": "The national id of a company",
                    "minLength": 11,
                    "maxLength": 11,
                    "example": "12345678911"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "organization"
        ],
        "responses": {
          "200": {
            "description": "This means organization with id you specified"
          }
        }
      }
    },
    "/byword": {
      "description": "Under development",
      "get": {
        "summary": "WARNING: Under development",
        "parameters": [
          {
            "in": "header",
            "required": true,
            "name": "Authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "mode",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "from",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "translator_id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "language",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "quran"
        ],
        "responses": {
          "200": {
            "description": "Returns the quran word by word"
          }
        }
      }
    },
    "/translation": {
      "description": "Under development",
      "get": {
        "summary": "WARNING: Under development",
        "parameters": [
          {
            "in": "header",
            "required": true,
            "name": "Authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "mode",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "from",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "translator_id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "language",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "quran"
        ],
        "responses": {
          "200": {
            "description": "Returns the translation"
          }
        }
      }
    },
    "/tafsir": {
      "description": "Under development",
      "get": {
        "summary": "WARNING: Under development",
        "parameters": [
          {
            "in": "header",
            "required": true,
            "name": "Authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "mode",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "from",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "translator_id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "language",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "quran"
        ],
        "responses": {
          "200": {
            "description": "Returns the tafsir of quran"
          }
        }
      }
    },
    "/masters": {
      "description": "Under development",
      "get": {
        "summary": "WARNING: Under development",
        "parameters": [
          {
            "in": "header",
            "required": true,
            "name": "Authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "mode",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "language",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the masters list"
          }
        }
      }
    },
    "/surah": {
      "description": "Returns the list of all surahs (for now)",
      "get" : {
        "parameters": [
          {
            "in": "query",
            "required": true,
            "name": "mushaf",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the surahs list (for now)"
          }
        }
      }
    },
    "/mushaf": {
      "description": "Returns the list of all mushafs (for now)",
      "get" : {
        "responses": {
          "200": {
            "description": "Returns the mushafs list (for now)"
          }
        }
      }     
    }
  }
}
