{
    "openapi": "3.0.2",
    "info": {
        "title": "NatiqQuran Api",
        "version": "0.0.4"
    },
    "servers": [
        {
            "url": "https://api.natiq.net"
        }
    ],
    "tags": [
        {
            "name": "account",
            "description": "For authorization, and users"
        },
        {
            "name": "user",
            "description": "List, View, Edit & Delete users"
        },
        {
            "name": "organization",
            "description": "Manage organizations"
        },
        {
            "name": "permission",
            "description": "Manage permissions"
        },
        {
            "name": "quran",
            "description": "All the quran related routers"
        }
    ],
    "paths": {
        "/account/sendCode": {
            "description": "Send code for sign in or sign up",
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "description": "The email address",
                                        "example": "info@natiq.com"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "account"
                ],
                "responses": {
                    "200": {
                        "description": "Code sended."
                    }
                }
            }
        },
        "/account/verify": {
            "description": "Return the new user token",
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "description": "The email address",
                                        "example": "info@natiq.com"
                                    },
                                    "code": {
                                        "type": "string",
                                        "description": "The code",
                                        "minLength": 6,
                                        "maxLength": 6,
                                        "example": 123456
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "account"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the new user token"
                    }
                }
            }
        },
        "/account/logout": {
            "description": "Expire the user token",
            "get": {
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "account"
                ],
                "responses": {
                    "200": {
                        "description": "Expires the token of user"
                    }
                }
            }
        },
        "/user": {
            "get": {
                "description": "Return the user full profile",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "user"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the user full profile"
                    }
                }
            },
            "post": {
                "description": "Edit the user full profile",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "description": "The unique username for new profile",
                                        "example": "Mahdi1279"
                                    },
                                    "first_name": {
                                        "type": "string",
                                        "description": "The first name of user",
                                        "example": "Mahdi"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "description": "The last name of user",
                                        "example": "Mohammadi"
                                    },
                                    "birthday": {
                                        "type": "string",
                                        "description": "The date of the birth",
                                        "example": "1989-12-2"
                                    },
                                    "profile_image": {
                                        "type": "string",
                                        "description": "The url of a profile image",
                                        "example": "https://assets.natiq.com/mahdi-profile-image.jpg"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "user"
                ],
                "responses": {
                    "200": {
                        "description": "User full profile edited"
                    }
                }
            }
        },
        "/organizations": {
            "get": {
                "description": "Return the list of all organizations",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "organization"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the list of all organizations"
                    }
                }
            },
            "post": {
                "description": "Add the new organization",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "description": "The unique username for new organization",
                                        "example": "github"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "The full name of organization",
                                        "example": "github organization"
                                    },
                                    "profile_image": {
                                        "type": "string",
                                        "description": "The url of a profile image",
                                        "example": "https://assets.natiq.com/nema-profile-image.jpg"
                                    },
                                    "established_date": {
                                        "type": "string",
                                        "description": "The established date of organization(company)",
                                        "example": "1988-03-12"
                                    },
                                    "national_id": {
                                        "type": "string",
                                        "description": "The national id of a company",
                                        "minLength": 11,
                                        "maxLength": 11,
                                        "example": "12345678911"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "organization"
                ],
                "responses": {
                    "200": {
                        "description": "This means new organization was created"
                    }
                }
            }
        },
        "/organization/{organization_uuid}": {
            "get": {
                "description": "View organization with id you specified",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "organization_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "organization"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the organization with id you specified"
                    }
                }
            },
            "post": {
                "description": "Edit permission with id you specified",
                "parameters": [
                    {
                        "required": true,
                        "in": "header",
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "organization_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "description": "The unique username for new organization",
                                        "example": "github"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "The full name of organization",
                                        "example": "github organization"
                                    },
                                    "profile_image": {
                                        "type": "string",
                                        "description": "The url of a profile image",
                                        "example": "https://assets.natiq.com/nema-profile-image.jpg"
                                    },
                                    "established_date": {
                                        "type": "string",
                                        "description": "The established date of organization(company)",
                                        "example": "1988-03-12"
                                    },
                                    "national_id": {
                                        "type": "string",
                                        "description": "The national id of a company",
                                        "minLength": 11,
                                        "maxLength": 11,
                                        "example": "12345678911"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "organization"
                ],
                "responses": {
                    "200": {
                        "description": "Organization with id you specified edited"
                    }
                }
            }
        },
        "/organizations/name": {
            "post": {
                "description": "Add the organization name in another language",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "New name",
                                        "example": "ali"
                                    },
                                    "language": {
                                        "type": "string",
                                        "description": "Language",
                                        "minLength": 2,
                                        "maxLength": 2,
                                        "example": "en"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "organization"
                ],
                "responses": {
                    "200": {
                        "description": "Organization name in another language added"
                    }
                }
            }
        },
        "/organization/name/{name_uuid}": {
            "get": {
                "description": "View the organization name in another language with id you specified",
                "parameters": [
                    {
                        "required": true,
                        "in": "header",
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "name_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "organization"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the organization name in another language with id you specified"
                    }
                }
            },
            "post": {
                "description": "Edit the organization name in another language with id you specified",
                "parameters": [
                    {
                        "required": true,
                        "in": "header",
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "name_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "New name",
                                        "example": "ali"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "organization"
                ],
                "responses": {
                    "200": {
                        "description": "The organization name in another language with id you specified edited"
                    }
                }
            },
            "delete": {
                "description": "Delete the organization name in another language with id you specified",
                "parameters": [
                    {
                        "required": true,
                        "in": "header",
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "name_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "organization"
                ],
                "responses": {
                    "200": {
                        "description": "The organization name in another language with id you specified deleted"
                    }
                }
            }    
        },
        "/permission":{
            "get": {
                "description": "Ruturn the list of all permissions",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "permission"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the list of all permissions"
                    }
                }
            },
            "post": {
                "description": "Add new permission",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "subject": {
                                        "type": "string",
                                        "description": "The user uuid or * for all users",
                                        "example": "f9339c7a-749a-408e-a03e-a22cd87fe3a1"
                                    },
                                    "object": {
                                        "type": "string",
                                        "description": "The controller that the user need to access",
                                        "example": "Translation, Reciters & etc"
                                    },
                                    "action": {
                                        "type": "string",
                                        "description": "The action for controller & etc",
                                        "example": "Add, Edit, View, List, Delete & etc"
                                    },
                                    "conditions": {
                                        "type": "array",
                                        "description" : "Array of conditions, each condition is an object includ has name & value, currently only possible condition is isOwner(Boolean)",
                                        "example": "[{ \"name\": \"isOwner\", \"value\":\"true\"]"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "permission"
                ],
                "responses": {
                    "200": {
                        "description": "This means new permission was created"
                    }
                }
            }
        },
        "/permission/{permission_uuid}":{
            "get": {
                "description": "View permission with id you specified",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "permission_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }                    
                ],
                "tags": [
                    "permission"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the permission with id you specified"
                    }
                }
            },
            "post": {
                "description": "Edit permission with id you specified",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "permission_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }                    
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "subject": {
                                        "type": "string",
                                        "description": "The user uuid or * for all users",
                                        "example": "f9339c7a-749a-408e-a03e-a22cd87fe3a1"
                                    },
                                    "object": {
                                        "type": "string",
                                        "description": "The controller that the user need to access",
                                        "example": "Translation, Reciters & etc"
                                    },
                                    "action": {
                                        "type": "string",
                                        "description": "The action for controller & etc",
                                        "example": "Add, Edit, View, List, Delete & etc"
                                    },
                                    "conditions": {
                                        "type": "array",
                                        "description" : "Array of conditions, each condition is an object includ has name & value, currently only possible condition is isOwner(Boolean)",
                                        "example": "[{ \"name\": \"isOwner\", \"value\":\"true\"]"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "permission"
                ],
                "responses": {
                    "200": {
                        "description": "Permission with id you specified edited"
                    }
                }
            },            
            "delete": {
                "description": "Delete permission with id you specified",
                "parameters": [
                    {
                        "required": true,
                        "in": "header",
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "permission_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "permission"
                ],
                "responses": {
                    "200": {
                        "description": "Permission with id you specified deleted"
                    }
                }
            }              
        },
        "/permission_conditions":{
            "description": "Returns the list of all permission conditions",           
            "get": {
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "permission"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the list of all permission conditions"
                    }
                }
            }
        },
        "/mushaf": {
            "description": "Returns the list of mushafs",
            "get": {
                "tags": [
                    "quran"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the mushafs list"
                    }
                }
            },
            "post": {
                "description": "Add the new mushaf",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The mushaf name",
                                        "example": "hafs"
                                    },
                                    "source": {
                                        "type": "string",
                                        "description": "The mushaf text source",
                                        "example": "tanzil"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "quran"
                ],
                "responses": {
                    "200": {
                        "description": "This means new mushaf was created"
                    }
                }
            }
        },
        "/mushaf/{mushaf_uuid}":{
            "get": {
                "description": "View mushaf with id you specified",
                "parameters": [
                    {
                        "in": "path",
                        "required": true,
                        "name": "mushaf_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }                    
                ],
                "tags": [
                    "quran"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the mushaf with id you specified"
                    }
                }
            },
            "post": {
                "description": "Edit mushaf with id you specified",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "mushaf_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }                    
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The mushaf name",
                                        "example": "hafs"
                                    },
                                    "source": {
                                        "type": "string",
                                        "description": "The mushaf text source",
                                        "example": "tanzil"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "quran"
                ],
                "responses": {
                    "200": {
                        "description": "Mushaf with id you specified edited"
                    }
                }
            },            
            "delete": {
                "description": "Delete mushaf with id you specified",
                "parameters": [
                    {
                        "required": true,
                        "in": "header",
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "mushaf_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "quran"
                ],
                "responses": {
                    "200": {
                        "description": "Mushaf with id you specified deleted"
                    }
                }
            }              
        },
        "/surah": {
            "description": "Returns the list of surahs",
            "get": {
                "parameters": [
                    {
                        "in": "query",
                        "required": true,
                        "name": "mushaf",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "quran"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the surahs list"
                    }
                }
            }
        },
        "/surah/{suarh_uuid}": {
            "description": "Returns the single surah",
            "get": {
                "parameters": [
                    {
                        "in": "query",
                        "required": true,
                        "name": "mushaf",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "surah_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }   
                ],
                "tags": [
                    "quran"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the single surah"
                    }
                }
            }
        }
    }
}
