{
    "openapi": "3.0.2",
    "info": {
        "title": "NatiqQuran Api",
        "version": "0.0.4"
    },
    "servers": [
        {
            "url": "http://api.natiq.net"
        }
    ],
    "tags": [
        {
            "name": "account",
            "description": "for auth, and users"
        },
        {
            "name": "organization",
            "description": "manage organizations"
        },
        {
            "name": "user",
            "description": "view, delete, edit, view list, the Users"
        },
        {
            "name": "permission",
            "description": "manage permissions"
        },
        {
            "name": "permission_conditions",
            "description": "get list of all possible conditions"
        },
        {
            "name": "quran",
            "description": "All the quran related routers"
        }
    ],
    "paths": {
        "/account/sendCode": {
            "description": "Send code for sign in or sign up",
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "description": "the email address",
                                        "example": "info@natiq.com"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "account"
                ],
                "responses": {
                    "200": {
                        "description": "Code sended."
                    }
                }
            }
        },
        "/account/verify": {
            "description": "Return the new user's token",
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "description": "the email address",
                                        "example": "info@natiq.com"
                                    },
                                    "code": {
                                        "type": "string",
                                        "description": "the code",
                                        "minLength": 6,
                                        "maxLength": 6,
                                        "example": 123456
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "account"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the new user's token"
                    }
                }
            }
        },
        "/account/logout": {
            "description": "Expire the user's token",
            "get": {
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "account"
                ],
                "responses": {
                    "200": {
                        "description": "expires the token of user"
                    }
                }
            }
        },
        "/user": {
            "get": {
                "description": "Return the user's full profile",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "user"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the user's full profile"
                    }
                }
            },
            "post": {
                "description": "Edit the user's full profile",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "description": "The unique username for new profile",
                                        "example": "Mahdi1279"
                                    },
                                    "first_name": {
                                        "type": "string",
                                        "description": "the first name of user",
                                        "example": "Mahdi"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "description": "the last name of user",
                                        "example": "Mohammadi"
                                    },
                                    "birthday": {
                                        "type": "string",
                                        "description": "The date of the birth",
                                        "example": "1989-12-2"
                                    },
                                    "profile_image": {
                                        "type": "string",
                                        "description": "The url of a profile image",
                                        "example": "https://assets.natiq.com/mahdi-profile-image.jpg"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "user"
                ],
                "responses": {
                    "200": {
                        "description": "User's full profile was edited"
                    }
                }
            }
        },
        "/organizations": {
            "get": {
                "description": "Return the list of all organizations",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "organization"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the list of all organizations"
                    }
                }
            },
            "post": {
                "description": "Add the new organization",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "description": "The unique username for new org",
                                        "example": "github"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "The full name of org",
                                        "example": "github org"
                                    },
                                    "profile_image": {
                                        "type": "string",
                                        "description": "The url of a profile image",
                                        "example": "https://assets.natiq.com/nema-profile-image.jpg"
                                    },
                                    "established_date": {
                                        "type": "string",
                                        "description": "The established date of org(company)",
                                        "example": "1988-03-12"
                                    },
                                    "national_id": {
                                        "type": "string",
                                        "description": "The national id of a company",
                                        "minLength": 11,
                                        "maxLength": 11,
                                        "example": "12345678911"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "organization"
                ],
                "responses": {
                    "200": {
                        "description": "This means new organization was created"
                    }
                }
            }
        },
        "/organization/{org_uuid}": {
            "get": {
                "description": "View organization with id you specified",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "org_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "organization"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the organization with id you specified"
                    }
                }
            },
            "post": {
                "description": "Edit permission with id you specified",
                "parameters": [
                    {
                        "required": true,
                        "in": "header",
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "org_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "description": "The unique username for new org",
                                        "example": "github"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "The full name of org",
                                        "example": "github org"
                                    },
                                    "profile_image": {
                                        "type": "string",
                                        "description": "The url of a profile image",
                                        "example": "https://assets.natiq.com/nema-profile-image.jpg"
                                    },
                                    "established_date": {
                                        "type": "string",
                                        "description": "The established date of org(company)",
                                        "example": "1988-03-12"
                                    },
                                    "national_id": {
                                        "type": "string",
                                        "description": "The national id of a company",
                                        "minLength": 11,
                                        "maxLength": 11,
                                        "example": "12345678911"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "organization"
                ],
                "responses": {
                    "200": {
                        "description": "Organization with id you specified was edited"
                    }
                }
            }
        },
        "/organizations/name": {
            "post": {
                "description": "Add the organization name in another language",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "New name",
                                        "example": "ali"
                                    },
                                    "language": {
                                        "type": "string",
                                        "description": "language",
                                        "minLength": 2,
                                        "maxLength": 2,
                                        "example": "en"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "organization"
                ],
                "responses": {
                    "200": {
                        "description": "Organization name in another language added"
                    }
                }
            }
        },
        "/organization/name/{name_uuid}": {
            "get": {
                "description": "View the organization name in another language with id you specified",
                "parameters": [
                    {
                        "required": true,
                        "in": "header",
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "name_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "organization"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the organization name in another language with id you specified"
                    }
                }
            },
            "post": {
                "description": "Edit the organization name in another language with id you specified",
                "parameters": [
                    {
                        "required": true,
                        "in": "header",
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "name_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "New name",
                                        "example": "ali"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "organization"
                ],
                "responses": {
                    "200": {
                        "description": "The organization name in another language with id you specified was edited"
                    }
                }
            },
            "delete": {
                "description": "Delet the organization name in another language with id you specified",
                "parameters": [
                    {
                        "required": true,
                        "in": "header",
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "name_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "organization"
                ],
                "responses": {
                    "200": {
                        "description": "The organization name in another language with id you specified was deleted"
                    }
                }
            }    
        },
        "/permission":{
            "get": {
                "description": "Ruturn the list of all permissions",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "permission"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the list of all permissions"
                    }
                }
            },
            "post": {
                "description": "Add new permission",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "subject": {
                                        "type": "string",
                                        "description": "The user uuid or * for all users",
                                        "example": "f9339c7a-749a-408e-a03e-a22cd87fe3a1"
                                    },
                                    "object": {
                                        "type": "string",
                                        "description": "The controller that the user need to access",
                                        "example": "Translation, Reciters & etc"
                                    },
                                    "action": {
                                        "type": "string",
                                        "description": "The action that the user need to implement on controller",
                                        "example": "Add, Edit, View, List, Delet & etc"
                                    },
                                    "conditions": {
                                        "type": "array",
                                        "description" : "each condition must include name & value, Possible Conditions: isOwner(Boolean)",
                                        "example": "[{ \"name\": \"isOwner\", \"value\":\"True\"]"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "permission"
                ],
                "responses": {
                    "200": {
                        "description": "This means new permission was created"
                    }
                }
            }
        },
        "/permission/{user_uuid}":{
            "get": {
                "description": "View permission with id you specified",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "user_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }                    
                ],
                "tags": [
                    "permission"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the permission with id you specified"
                    }
                }
            },
            "post": {
                "description": "Edit permission with id you specified",
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "user_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }                    
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "subject": {
                                        "type": "string",
                                        "description": "The user uuid or * for all users",
                                        "example": "f9339c7a-749a-408e-a03e-a22cd87fe3a1"
                                    },
                                    "object": {
                                        "type": "string",
                                        "description": "The controller that the user need to access",
                                        "example": "Translation, Reciters & etc"
                                    },
                                    "action": {
                                        "type": "string",
                                        "description": "The action that the user need to implement on controller",
                                        "example": "Add, Edit, View, List, Delet & etc"
                                    },
                                    "conditions": {
                                        "type": "array",
                                        "description" : "each condition must include name & value, Possible Conditions: isOwner(Boolean)",
                                        "example": "[{ \"name\": \"isOwner\", \"value\":\"True\"]"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "permission"
                ],
                "responses": {
                    "200": {
                        "description": "Permission with id you specified was edited"
                    }
                }
            },            
            "delete": {
                "description": "Delet permission with id you specified",
                "parameters": [
                    {
                        "required": true,
                        "in": "header",
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "required": true,
                        "name": "user_uuid",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "permission"
                ],
                "responses": {
                    "200": {
                        "description": "Permission with id you specified was deleted"
                    }
                }
            }              
        },
        "/permission_conditions":{
            "description": "Returns the list of all permission conditions",           
            "get": {
                "parameters": [
                    {
                        "in": "header",
                        "required": true,
                        "name": "Authorization",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "permission_conditions"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the list of all permission conditions"
                    }
                }
            }
        },
        "/mushaf": {
            "description": "Returns the list of mushafs",
            "get": {
                "tags": [
                    "quran"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the mushafs list"
                    }
                }
            }
        },
        "/surah": {
            "description": "Returns the list of surahs",
            "get": {
                "parameters": [
                    {
                        "in": "query",
                        "required": true,
                        "name": "mushaf",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "quran"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the surahs list"
                    }
                }
            }
        },
        "/surah/{suarh_uuid}": {
            "description": "Returns the single surah",
            "get": {
                "parameters": [
                    {
                        "in": "query",
                        "required": true,
                        "name": "mushaf",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "quran"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the single surah"
                    }
                }
            }
        }
    }
}
